<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header class="header">
      <h1 class="title">カコモン共有</h1>
    </header>

  <div class="main">
    <div class="univ_flame">
      <div class="discription">
        <p>クリックしたらダウンロードが始まります</p>
      </div>
      <div class="univ_name">
        <h1><%= @university + "　　" + @department + "　　" + @major %></h1>
      </div>
    </div>

    <div class="list_flame">
      <ul>
        <% @contents.reverse.each do |content| %>
        <li><%= link_to(content.lesson + " " + content.year.to_s + "年", action: "download", id: content.id) %>
        <% end %>
      </ul>
    </div>

  </div>

  </body>
</html>
