<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header>
      <div class="title">
        <h1>過去問共有</h1>
      </div>
    </header>

  <div class="main_flame">

    <div class="univ_flame">
      <div class="title_flame">
        <h2>過去問一覧</h2>
      </div>

      <div class="univ_name">
        <h3><%= @university.university %></h3>
      </div>
    </div>

    <div class="list_flame">
      <ul>
        <% @contents.each do |content| %>
        <li><%= link_to(content.department + " " + content.major + " " + content.lesson + " " + content.year.to_s + "年", action: "download", id: content.id) %>
        <% end %>
      </ul>
    </div>

  </div>

  </body>
</html>
