/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.header{
    text-align: center;
    background-color: #000000;
    height: 150px;
}

body{
    margin: 0px;
}
.title {
    margin: 0px;
    text-align: left;
    color: azure;
    border: solid ;
    border-color: #000000;
    border-width: 15px;
    font-size: 90px;
    padding-left:80px ;
   /* border-radius: 169px; */
}

.main{
    position: absolute;
    margin-left : 80px ;
    margin-right : 80px ;
    margin-top:50px;
    margin-bottom: 50px;
}
.file_up{
    position: relative;
    border: solid;
    margin-top: 20px;
    padding: 20px;
}

.file_search{
    border: solid;
    margin-top: 20px;
    position: relative;
    padding: 20px;
}

.file_new_tw{
    margin-top: 20px;
    position: relative;
    border: solid;
    clear:both;
    padding: 15px;
    height: 650px;

}

.tw{
    border: solid;
    position: relative;
    width: 400px;
    height: 100px;
    padding: 20px;
    height: 600px;
    float: right;
}

.file_new{
    position: relative;
    border: solid;
    width: 680px;
    height: 100px;

    padding: 20px;
    height: 600px;
}

li {
  margin-bottom: 20px;
}

.univ_name{
  background-color: #000000;
  color: azure;
  padding-left: 20px;
  padding-right: 20px;
}

.list_flame{
  border: solid;
}
